.Patient {
  width: 75%;
  padding: 3% 2%;
  display: flex;
  flex-direction: column;
}

.Patient-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Patient-header-title {
  font-weight: bolder;
  font-size: 2rem;
  letter-spacing: 2px;
}

.Patient-header-buttons {
  height: 100%;
  margin: 5% 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.Patient-header-buttons button {
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  height: inherit;

  transition: all .2s ease;
}

.Patient-header-buttons button:hover {
  color: white;
  background-color: black;

  transition: all .2s ease;
}

button:first-child {
  margin-right: 5%;
}

.Patient-data {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  height: 20%;
}

.Patient-data-category {
  font-weight: bold;
}

.Patient-data p {
  min-width: 50%;
}

.Patient-insert-annotation {
  margin-top: 5%;
  min-height: 5%;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;

  transition: all .2s ease;
}

.Patient-insert-annotation:hover {
  color: white;
  background-color: black;

  transition: all .2s ease;
}

.Patient-empty {
  font-size: 2rem;
  font-weight: lighter;
  text-align: center;
  margin-top: 10%;
  letter-spacing: 1px;
}

@media only screen and (max-width: 960px) {
  .Patient {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    padding: 0;
    min-height: 90vh;
  }

  .Patient-data {
    flex-direction: column;
  }

  .Patient-data p {
    margin-bottom: 2%;
  }
}
