.overlay {
  position: fixed; /* Positioning and size */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128,128,128,0.5);
}

.modal-schedules {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: 50%;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 2%;

  background-color: white;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.71);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.71);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.71);
  border-radius: 5px;
}

.modal-close {
  width: 20px;
  fill: black;
  left: 0;
  align-self: flex-end;
  margin: 3% 3% 0 0;
  cursor: pointer;

  transition: ease all 0.3s;
}

.modal-close:hover {
  fill: #e84118;

  transition: ease all 0.3s;
}

.modal-title {
  font-size: 2rem;
  text-transform: uppercase;
}

.modal-schedule {
  width: 50%;
  margin-left: 25%;
}

.modal-schedule-patients, .modal-schedule-date {
  display: flex;
  justify-content: space-between;
}

.modal-schedule-patients label {
  font-weight: bold;
}

.modal-schedule-date p {
  font-weight: bold;
}

.modal-schedule-date {
  margin-top: 5%;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
}

.modal-buttons button {
  font-weight: normal;
  padding: 2%;
  min-width: 30%;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;

  transition: ease all 0.3s;
}

.modal-buttons button:hover {
  color: white;
  background-color: black;

  transition: ease all 0.3s;
}
