.overlay {
  position: fixed; /* Positioning and size */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128,128,128,0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: 90% !important;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 2%;

  background-color: white;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.71);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.71);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.71);
  border-radius: 5px;
}

.modal-close {
  width: 20px;
  fill: black;
  left: 0;
  align-self: flex-end;
  margin: 3% 3% 0 0;
  cursor: pointer;

  transition: ease all 0.3s;
}

.modal-close:hover {
  fill: #e84118;

  transition: ease all 0.3s;
}

.modal-title {
  font-size: 2rem;
  text-transform: uppercase;
}

.modal-patient {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
}

.modal-patient label {
  font-weight: bold;
  margin: 5% 0 2% 0;
}

.modal-buttons {
  margin-top: 5%;
}