table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 1% 0;
  padding-left: 1%;
}

.Patients-list-table {
  width: 100%;
  margin: 5% 0;
  text-align: left;
}

tr:nth-child(even) {
  background: #bdc3c7;
}

tr:nth-child(odd) {
  background: #FFF;
}

.Patients-list-table th {
  font-weight: bold;
  background-color: #34495e;
  color: white;
}
