.Schedule {
  width: 75%;
  padding: 3% 2%;
}

.Schedule-header {
  display: flex;
  height: 5%;
  justify-content: space-between;
  align-items: center;
}

.Schedule-header-title {
  font-weight: bolder;
  font-size: 2rem;
  letter-spacing: 2px;
}

.Schedule-header-button {
  height: 100%;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;

  transition: all .2s ease;
}

.Schedule-header-button:hover {
  color: white;
  background-color: black;

  transition: all .2s ease;
}

.Schedule-empty {
  font-size: 2rem;
  font-weight: lighter;
  text-align: center;
  margin-top: 10%;
  letter-spacing: 1px;
}

@media only screen and (max-width: 900px) {
  .Schedule {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    padding: 0;
    min-height: 90vh;
  }
}
