@media only screen and (max-width: 760px) {
  /* Force table to not be like tables anymore */
  .Patients-list-table,
  .Patients-list-table thead,
  .Patients-list-table tbody,
  .Patients-list-table th,
  .Patients-list-table td,
  .Patients-list-table tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	.Patients-list-table thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
  }

  .Patients-list-table tr { border: 1px solid #ccc; }

	.Patients-list-table td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	.Patients-list-table td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
  }

  /*
	Label the data
	*/
	.Patients-list-table td:nth-of-type(1):before { content: "Nome"; }
	.Patients-list-table td:nth-of-type(2):before { content: "Data de Nascimento"; }
	.Patients-list-table td:nth-of-type(3):before { content: "Sexo"; }
	.Patients-list-table td:nth-of-type(4):before { content: "Telefone"; }
}
