.Patients {
  width: 75%;
  padding: 3% 2%;
}

.Patients-header {
  display: flex;
  height: 5%;
  justify-content: space-between;
  align-items: center;
}

.Patients-header-title {
  font-weight: bolder;
  font-size: 2rem;
  letter-spacing: 2px;
}

.Patients-header-button {
  height: 100%;
  width: 20%;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;

  transition: all .2s ease;
}

.Patients-header-button:hover {
  color: white;
  background-color: black;

  transition: all .2s ease;
}
