.App {
  display: flex;
  background-color: #ecf0f1;
}

.App-header {
  background-color:#2c3e50;
  min-height: 100vh;
  width: 25%;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);*/
  color: white;
}

.App-header-title {
  text-align: center;
  font-weight: bolder;
  font-size: 2rem;
  letter-spacing: 2px;
  margin: 10% 0;
}
